<%= form_with(model: search_entry) do |form| %>
  <% if search_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(search_entry.errors.count, "error") %> prohibited this search_entry from being saved:</h2>

      <ul>
        <% search_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :searchable_id %>
    <%= form.text_field :searchable_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
